* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

button,
#videoId,
#numberOfComments {
    margin: 0 auto;
    display: block;
}

button {
    border: 1px black solid;
    background: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 18px;
    text-transform: uppercase;
}

button:hover {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: 1px rgba(0, 0, 0, 0.7) solid;
}

#videoId,
#numberOfComments {
    margin-bottom: 20px;
    border: none;
    border: 1px black solid;
    border-radius: 12px;
    padding: 12px;
    width: 90%;
    max-width: 600px;
}

.comment {
    display: flex;
    max-width: 600px;
    width: 90%;
    margin-bottom: 20px;
    border: 1px black solid;
    border-radius: 12px;
    padding: 12px;
}
/* .comment_img {
    width: 25%;
} */

.comment_img img {
    border-radius: 50%;
    margin-right: 12px;
}

.comment_text {
    align-self: center;
    /* width: 75%; */
    word-break: break-word;
}

#comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#comments.active {
    background-image: url('../ajax-loader.gif');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 100%;
}

.bold {
    font-weight: bold;
    margin-bottom: 6px;
}

.error-message {
    color: red;
}

.error-message p {
    color: inherit;
    margin-bottom: 12px;
}